[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ishu12
[access "refs/for/refs/*"]
	read = group user/Ishu12
	push = group user/Ishu12
	label-Code-Review = -2..+2 group user/Ishu12
	label-Verified = -1..+1 group user/Ishu12
	rebase = group user/Ishu12
	removeReviewer = group user/Ishu12
	submit = group user/Ishu12
[access "refs/heads/*"]
	read = group user/Ishu12
	create = group user/Ishu12
	push = +force group user/Ishu12
	pushMerge = group user/Ishu12
[access "refs/tags/*"]
	push = +force group user/Ishu12
	pushTag = group user/Ishu12
	pushSignedTag = group user/Ishu12
